/**
    *   RESET FOR ALL LIST
    */
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
/**
    *   RESET FOR ALL LINKS
    */
a {
    text-decoration: none;
}
/**
    *   TYPOGRAPHY BASE FOR ALL DEVICE
    */
* {
    font-family: "PT Mono", monospace;
    color: springgreen;
}
/**
    *   TYPOGRAPHY SPECIAL
    */
.x {
    font-family: "Montserrat Subrayada", sans-serif;
    font-size: 1.78em;
}
/**
    *   STYLING
    */
body {
    background-color: black;
}
@media (max-width: 599px) {
    #header {
        height: calc(100vh - 7rem);
    }
    #footer {
        outline: 1px solid blue;
        font-size: 1.5em;
        height: 7rem;
    }
    .footer_social-networks li {
        height: 50%;
    }
    .footer_social-networks li:nth-child(4) {
        padding-left: 4rem;
    }
    .footer_social-networks li:nth-child(5) {
        padding-right: 4rem;
    }
}
@media (min-width: 600px) {
    #header {
        height: calc(100vh - 5rem);
    }
    #footer {
        height: 5rem;
    }
    .footer_social-networks li {
        height: 100%;
    }
}
.footer_social-networks {
    height: 100%;
}
.footer_social-networks li {
    display: table;
}
.footer_social-networks li a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
